.Flashcards {
    display: flex;
    flex-wrap: wrap;
}


.Flashcard__container {
    min-height: 0;
}

.Flashcard {
    min-height: 0;
    border: 3px solid #000;
    border-radius: 5px;
    padding: 0.25rem;
    cursor: pointer;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    font-weight: bold;
    min-width: 100%;
}

.Flashcard__image {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}
.Flashcard__unturned,
.Flashcard__turned, 
.Flashcard__text {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    word-break: break-word;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.Flashcards__btns {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}
.Flashcards__btns__difficulty {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #777;
    border-radius: 5px;
}
.Flashcards__btns__difficulty__container {
    cursor: pointer;
    text-transform: uppercase;
    
}
.Flashcards__btns__difficulty__container.--rating {
    background-color: #fff;
    color: #fff;
    box-shadow: 0px 0px 20px #fff;
    font-weight: bold;
}
.Flashcards__btns__next {
    cursor: pointer;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    align-self: flex-end;
    flex: 1;
    min-width: 0;
}
.Flashcards__btns__next__image {
    flex: 1;
    min-width: 0;
}
.Flashcards__btn__next__text {
    margin-right: 0.75rem;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: -1px;
}
.Flashcard.--form {
    border: 3px solid #fff;
}

.Flashcards__completedMessage {
    display: flex;
    justify-content: center;
    align-items: center;
}
.Flashcards__completedMessage__title {
    font-size: 6rem;
    word-wrap: break-word;
    font-weight: bold;
}

.CompletedFlashcards {
}

.CompletedFlashcards__frontCard {
    border: 5px solid #000;
    border-radius: 5px;
    padding: 0.25rem;
    cursor: pointer;
    z-index: 10;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center
}
.CompletedFlashcards__frontCard__container {
    border-bottom: 1px solid #444;
    width: 60%;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.CompletedFlashcards__frontCard__container__text {
    display: inline-block;
    max-width: 90px;
    width: 90px;
    text-overflow: ellipsis;
    font-size: 0.75rem;
    white-space: nowrap;
    overflow: hidden;
}

.CompletedFlashcards__title {
    display: flex;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: capitalize;
    padding: 0.5rem;
}
.CompletedFlashcards__title__number {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
}

.CompletedFlashcards__heapFrame {
    border: 3px solid #000;
    border-radius: 5px;
    padding: 0.25rem;
    cursor: pointer;
    z-index: 10;
    margin: auto;
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    border: 3px solid #000;
    z-index: 1;
}

.CompletedFlashcards__CSScheckMark {
    margin-left: auto;
    margin-top: -55%;
    display: flex;
    transform: rotate(45deg);
    height: 1rem;
    width: 0.5rem;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
  }
  

  @media only screen and (max-width: 600px) {
    .Flashcards {
        display: flex;
        flex-wrap: nowrap;
        min-height: 15rem;
        flex: 3;
    }
    .Flashcard__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 4;
        min-width: 12rem;
    }
    .Flashcard {
        flex: 1;
    }
    .Flashcard__number {
        background-color: #aaa;
        opacity: .51;
        height: 1.25rem;
        padding: 0.25rem;
        color: #000;
        border: 1px solid #777;
        border-radius: 3px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        width: 100%;
        margin-bottom: 1rem;
    }

    .Flashcards__btns {
        flex: 1;
        min-height: 100%;
        display: flex;
        flex-direction: column;
    }
    .Flashcards__btns__difficulty {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-top: initial;
        margin-bottom: initial; 
        flex-wrap: nowrap;
        min-height: 8rem;

        flex: 4;
    }
    .Flashcards__btns__difficulty__title {
        color: #fff;
        background-color: #aaa;
        opacity: .51;
        height: 1.25rem;
        padding: 0.25rem;
        color: #000;
        border: 1px solid #777;
        border-radius: 5px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        margin-bottom: 1rem;
    }
    .Flashcards__btns__difficulty__container  {
        
    }
    .Flashcards__btns__difficulty__container__instance {

    }
    .Flashcards__btns__difficulty__container__instance.--rating {
    }

    .Flashcards__btns__next {
        flex: 1;
        min-height: 2rem;

    }
    .Flashcards__btns__next__image {
        max-width: 1.75rem;
    }


    .CompletedFlashcards {
        min-height: 5rem;
        flex: 1;
    }
}
