@media only screen and (max-width: 600px) {
    .Flashcards {
        display: flex;
        flex-wrap: nowrap;
        min-height: 15rem;
        flex: 3;
    }
    .Flashcard__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 4;
        min-width: 12rem;
    }
    .Flashcard {
        flex: 1;
    }
    .Flashcard__number {
        background-color: #aaa;
        opacity: .51;
        height: 1.25rem;
        padding: 0.25rem;
        color: #000;
        border: 1px solid #777;
        border-radius: 3px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        width: 100%;
        margin-bottom: 1rem;
    }

    .Flashcards__btns {
        flex: 1;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        max-width: 6rem;
    }
    .Flashcards__btns__difficulty {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-top: initial;
        margin-bottom: initial; 
        flex-wrap: nowrap;
        min-height: 8rem;
        padding-bottom: 1rem;
        border-bottom: 3px solid #000;
        padding-top: 1rem;
        border-top: 3px solid #000;

        flex: 4;
    }
    .Flashcards__btns__difficulty__title {
        color: #fff;
        background-color: #aaa;
        opacity: .51;
        height: 1.25rem;
        padding: 0.25rem;
        color: #000;
        border: 1px solid #777;
        border-radius: 5px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        margin-bottom: 1rem;
    }
    .Flashcards__btns__difficulty__container  {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .Flashcards__btns__difficulty__container__instance {
        font-weight: bold;
        border: 1px solid #fff;
        border-radius: 5px;
        height: 2.5rem;
        width: 5rem;
    }
    .Flashcards__btns__difficulty__container__instance.--rating {
        background-color: #000;
        box-shadow: 2px -2px 0px #000;
        color: #fff;
    }

    .Flashcards__btns__next {
        flex: 1;
        min-height: 2rem;
        background-color: transparent;

    }
    .Flashcards__btns__next__image {
        max-width: 1.75rem;
        margin-left: 0.5rem;
    }


    .CompletedFlashcards {
        min-height: 5rem;
        flex: 1;
    }
}