
@keyframes --rotating {
    from {
        transform: skew(0.01turn, -6deg) rotateY(0deg);
    }
    to { 
        transform: skew(0.01turn, -4deg) rotateY(360deg);
    }
}

@-webkit-keyframes --rotating {
    from {
        -webkit-transform: skew(0.01turn, -6deg) rotateY(0deg);
    }
    to { 
        -webkit-transform: skew(0.01turn, -4deg) rotateY(360deg);
    }
}

.--rotating {
    animation: --rotating 1.25s ease-out infinite;
    /* -webkit-animation: --rotating 3s ease-in infinite; */
}

.Loader {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.Loader__symbol {
    position: relative;
    height: 85%;
    width: 60%;
    max-width: 10rem;
    border: 6px solid #000;
    border-radius: 12px;
    background: linear-gradient(to left, #000, #000 5%, #fff 1%, #000 95%);
    margin-top: .25rem;
}

.Loader__text {
    margin-bottom: .5rem;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 1rem;
}