/* Component  */
.LoginRegisterBtn {
    
    transition: transform .15s ease-in;
    cursor: pointer;

    border: 1px solid #fff;
    color: #000;
    border-radius: 5px;
    background-color: #fff;
    width: 5rem;
    padding: .25rem;
    margin: .25rem;
    font-size: 1rem;
}
/* Component  */
.LoginRegisterBtn:hover {
    transform: scale(1.25);
    box-shadow: 0 0 30px 5px #fff;
}
/* Component  */
.Register {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 10px;
    background-color: #000;
    border: 10px solid #000;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.FormUser {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    z-index: 10;
    width: 95%;
    height: 97.5%;
    max-width: 25rem;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 12px solid #000;
    border-radius: 5px;
    padding: 1rem;
}
.--formUserButton {
    width: 6rem;
    margin-top: 0.25rem;
    cursor: pointer;
    background: #000;
    background-color: #000;
    color: #fff;
    padding: 0.75rem 0.75rem;
    text-transform: uppercase;
    margin-right: 0.5rem;
    border-radius: 5px;
    border: 3px solid #fff;
    transition: transform .25s ease-in;
}
.--formUserButton:hover {
    transform: scale(1.3);
    box-shadow: inset 0 0 10px 15px #fff;
    color: #000;
    border: 3px solid #000;
    margin: .75rem;
}
.FormUser__topbar {
    min-height: 2rem;
    width: 100%;
    margin-bottom: auto;
    text-align: center;
    position: relative;
}
.FormUser__topbar__title {
    padding: 0.5rem;
    padding-right: 1rem;
    font-size: 1.75rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.FormUser__subtitle {
    font-size: 1.25rem;
    width: 70%;
    margin-top: 2rem;
    margin-bottom: auto;
}
.FormUser__subtitle__line {

}
.FormUser__subtitle__line.--bold {
    margin-top: 0.5rem;
    font-weight: bold;
}
.FormUser__inputs {
    flex: 1;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.FormUser__inputs__instance {
    width: 100%;
    padding: 0.25rem;
    cursor: pointer;
}

.FormUser__inputs__label {
    padding: .25rem;
    margin: .25rem;
    font-size: 1rem;
}
.--extraMarginTop {
    margin-top: .75rem;
}
.--extraMarginBottom {
    margin-bottom: .75rem;
}
.--largerFont {
    font-size: 1.5rem;
    font-weight: bold;
}
.FormUser__gotAccContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.FormUser__gotAccContainer__msg {
    padding: 0.25rem;
}

.FormUser__ErrorContainer {
    padding: 1rem;
}
.FormUser__ErrorContainer__msg {
    color: red;
}
.FormUser__exit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.FormUser__exit__cancel {
    position: absolute;
    right: 0;
    top: 0.25rem;
    height: 3.75rem;
    width: 3.75rem;
}
.FormUser__exit__cancel:hover .FormUser__exit__cancel__icon {
    filter: none;
    height: 1.75rem;
    width: 1.75rem;

}
.FormUser__exit__cancel__icon {
    height: 1.5rem;
    width: 1.5rem;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(110deg) brightness(100%) contrast(106%);
}
.FormUser__ResetPassword__viewAfterLinkSent {
    margin-top: 1.5rem;
}
.FormUser__exit__submit {

}
/* Component  */
.Login {

}