.FormUser__ResetPassword {
    min-height: 70%;
}

.FormUser__ResetPassword__viewAfterLinkSent {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}   

.FormUser__ResetPassword__viewAfterLinkSent__title {
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
}

.FormUser__ResetPassword__viewAfterLinkSent__list {
    padding: 1rem;
}

.FormUser__ResetPassword__viewAfterLinkSent__list__item {
    list-style: inside;    
    font-size: 1.5rem;    
    padding: 0.5rem;
}

