.Flashcard {
    background-color: #fff;
    color: #000;
    flex: 1;

    min-height: 0;
    border: 3px solid #000;
    border-radius: 5px;
    padding: 0.25rem;
    cursor: pointer;
    position: relative;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    font-weight: bold;
    min-width: 100%;
    max-width: 30rem;
    position: relative;
    transition: transform 1.5s ease-out;  
}
/* .Flashcard.--unrotated {
    transition: transform 0.05s ease-out;
    transform: rotateY(-360deg);
} */
@keyframes rotate {
    0% {
      transform: rotateY(0deg);
    }
    /* Adding a step in the middle */
    50% {
        transform: rotateY(-90deg);
    }
    100% {
        transform: none;
    }
  }
.--rotated {
    animation-duration: .4s;
    animation-name: rotate;
  }
  

  



.Flashcard__number {
    height: 1.25rem;
    padding: 0.25rem;
    color: #fff;
    border: 1px solid #777;
    border-radius: 3px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 100%;
    margin-bottom: 1rem;
    background-color: #000;
}

.Flashcard__metaTitle {
    position: absolute;
    top: 0;
    height: 1.5rem;
    padding: .5rem;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 100%;
    background-color: #000;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1rem;
}