@media only screen and (max-width: 900px) {
    .Menu__OpenCloseBtn {
        display: flex;
        flex-direction: column;
        border: none;
        
        
        height: 4rem;
        width: 4rem;
        border-right: 1px solid #fff;
        align-items: safe center;
        padding-right: .75rem;
    }
    .Menu__OpenCloseBtn__text {
        font-size: 1rem;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: .33rem;
        text-transform: lowercase;
        
    }
    .Menu__OpenCloseBtn__img {
        height: 2rem;
        width: 2rem;
    }
  }

  @media only screen and (max-width: 600px) {
    .Menu__OpenCloseBtn {

    }
    .Menu__OpenCloseBtn__text {
    
    }
    .Menu__OpenCloseBtn__img {
    
    }
  }

