.Menu__OpenCloseBtn {
    cursor: pointer;
    display: flex;
    flex-direction: row;

    background-color: transparent;
    background: transparent;
    border: none;
    align-items: center;
    
}
.Menu__OpenCloseBtn__text {
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.75rem;
    margin-right: 1rem;
    margin-bottom: .33rem;
    letter-spacing: 3px;
}
.Menu__OpenCloseBtn__img {
    height: 3rem;
    width: 3rem;
    filter: invert(95%) sepia(5%) saturate(0%) hue-rotate(301deg) brightness(104%) contrast(105%);
}
