
.Flashcards {
    display: flex;
}
.Flashcard {
    border: 3px solid #000;
    border-radius: 5px;
    width: 7rem;
    height: 12rem;
    padding: 0.25rem;
    cursor: pointer;
}

.Flashcards__form__container{
    padding-top: 3rem;
}



.Flashcard_form_label {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
.Flashcard__form__inputs {
    display: flex;
}

.Flashcard__form__submit {
    background-color: transparent;
    background: transparent;
    border-radius: 3px;
    font-size: 1.5rem;
    padding: 0.5rem;
    font-weight: bold;
}