.Header {
    height: 5rem;
    min-height: 5rem;
    background-color: #000;
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 2rem;
}

.Header__title {
    
}
.Header__account {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.Header__account__btn {
    border: 1px solid #fff;
    color: #000;
    border-radius: 5px;
    background-color: #fff;
    width: 5rem;
    padding: .25rem;
    margin: .25rem;

}
