.AddDeck {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 10px;
    background-color: #000;
    border: 10px solid #000;
}
.AddDeck__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.AddDeck__container__nameLabel {
    font-size: 3.5rem;
}
.AddDeck__container__nameInput {
    margin-top: 1rem;
    height: 6rem;
    width: 65%;
    font-size: 1rem;
    text-align: center;
}

.AddDeck__container__nameInput[placeholder] {
    font-size: 1.25rem;
}