.Deck {
    width: 100%;    
}

.Deck__title {
    padding: 0.5rem;
    font-size: 2.5rem;
}

.Deck__decks {
    display: flex;
    justify-content: space-between;
}

.SymbolDecks {
    height: 100%;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.SymbolDecks__deck {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.SymbolDecks__deck__img {
    width: 10rem;
    height: 10rem;
}

.SymbolDecks__deck__title {
    width: 10rem;
    font-size: 1.5rem;
    text-align: center;
}
.SymbolDecks__openDeckBtn {
    cursor: pointer;
    width: 10rem;
    height: 1.5rem;
    font-size: 1rem;
    text-align: center;
    background-color: transparent;
}
.SymbolDecks__noDecks {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.SymbolDecks__noDecksMsg {
    font-size: 3.5rem;
}

.SymbolDecks__noDecksMsg__addBtn {
    margin-top: 3rem;
    cursor: pointer;
    background-color: #fff;
    width: 90%;
    height: 25%;
    text-transform: capitalize;
    color: #000;
    font-size: 3.5rem;

}