.SetFlashcard {
    z-index: 10;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 10px;
    border: 10px solid #000;
    min-height: 0;
    overflow-y: auto;
    background-color: #000;
}

.InputsAndPreviewContainer {
    height: 100%;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: safe center;
    align-items: safe center;
}