.AddDeck {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.AddDeck__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.AddDeck__nameLabel {
    font-size: 1.5rem;
    color: #fff;
}
.AddDeck__submit__container {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.AddDeck__submit {
    cursor: pointer;
    width: 16rem;   
    background-color: transparent;
    background: transparent;
    border-radius: 3px;
    font-size: 1.5rem;
    padding: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #fff;
}
.AddDeck__closeBtn {
    cursor: pointer;
    width: 8rem;   
    background-color: transparent;
    background: transparent;
    border-radius: 3px;
    font-size: 1.5rem;
    padding: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #fff;
}
