.EditDeck {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.EditDeck {
    scrollbar-width: normal;
    scrollbar-color: rgb(18, 18, 18) rgb(128, 127, 127);
    border-color: 2px solid #fff;
    border-radius: 30px;
  }

.EditDeck__deckName {
    text-align: center;
}
.EditDeck__flashcards {
    height: 15rem;
    display: flex;
}
.EditDeck__flashcards__list {
    height: 15rem;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap; 
}

.EditDeck__flashcardContainer {
    height: 15rem;
    width: 12rem;
    flex-shrink: 0;
    display: flex;
}
.EditDeck__flashcardContainer__num {
    height: 100%;
    width: 2rem;    
    background-color: #777;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.EditDeck__btn__close {
    margin-top: 1rem;
    cursor: pointer;
    width: 12rem;   
    background-color: transparent;
    background: transparent;
    border-radius: 3px;
    font-size: 1.5rem;
    padding: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #fff;
}
.EditDeck__noDeckSelectedMsg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.EditDeck__noDeckSelectedMsg__title {
    padding: 1rem;
    font-size: 2rem;

}
.EditDeck__noDeckSelectedMsg__btn__select {
    cursor: pointer;
    width: 12rem;   
    background-color: transparent;
    background: transparent;
    border-radius: 3px;
    font-size: 1.5rem;
    padding: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #fff;
}
.EditDeck__noDeckSelectedMsg__btn__close {
    margin-top: 1rem;
    cursor: pointer;
    width: 12rem;   
    background-color: transparent;
    background: transparent;
    border-radius: 3px;
    font-size: 1.5rem;
    padding: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #fff;
}