.EditDeck {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 10px;
    background-color: #000;
    border: 10px solid #000;
}
.EditDeck {
    scrollbar-width: normal;
    scrollbar-color: rgb(18, 18, 18) rgb(128, 127, 127);
    border-color: 2px solid #aaa;
    background-color: #000;
  }

  .Form {
    height: 100%;
    display: flex;
    flex-direction: column;

  }
  .Form__submitBtnContainer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #222;
    color: #000;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    cursor: pointer;
  }
  .Form__submitBtnContainer__submitBtn {
    cursor: pointer;
    width: 16rem;   
    height: 3rem;
    background-color: transparent;
    background: transparent;
    border-radius: 3px;
    font-size: 1.5rem;
    padding: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #fff;
    z-index: 10;
    cursor: pointer;
  }

.Form__topBar {
    display: flex;
    background-color: #222;
    display: flex;
    flex-direction: column;
    height: 5rem;
    border-top: 9px solid #444;
}
.Form__topBar__line {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.Form__topBar__line.--first {
    background-color: #000;
    height: 3rem;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}
.Form__topBar__line.--second {
    background-color: #222;
    height: 3rem;
    border-top: 3px solid #444;
    border-bottom: 3px solid #444;
}
.Form__topBar__line__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
    flex: 1;
}
.Form__topBar__line__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    height: 100%;
    flex-wrap: nowrap;
    cursor: pointer;

}
.Form__topBar__line__deckName {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.Form__topBar__line__deckName.--input {
    padding: 5px;
    padding-left: 1rem;
    height: calc(100% - 5px);
    max-width: 60%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.Form__topBar__line__btn__text {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    padding-left: 0.25rem;
    border-radius: 5px;
    font-weight: bold;
    color: #222;
    cursor: pointer;
}
.Form__topBar__line__btn__icon {
    height: 100%;
    cursor: pointer;
}
.Form__deckName {
    background-color: #222;
    font-size: 1.5rem;
    color: #fff;
    padding: 1.5rem;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 3.5rem;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;

}
.Form__flashcards {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 6.5rem;
}
.Form__flashcards__list {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    white-space: nowrap;
}

.Form__flashcardContainer {
    height: 15rem;
    width: 12rem;
    flex-shrink: 0;
    display: flex;
}
.Form__flashcardContainer.--addBtn {
    background-color: #222;
    border: 3px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.Form__flashcardContainer__btn {
    border-radius: 50%;
    width: 60%;
    height: 60%;
    cursor: pointer;

}
.Form__flashcardContainer__btn.--addBtn {
    background-color: rgb(5, 72, 49);
   margin-top: 15%;
   cursor: pointer;
    
}
.Form__flashcardContainer__btn__addImg {
    width: 4rem;
    height: 4rem;
    cursor: pointer;

}
.Form__flashcardContainer__addBtnTextContainer {
    border-top: 9px solid transparent;
    height: 3rem;
    width: 80%;
    cursor: pointer;

}
.Form__flashcardContainer__addBtnTextContainer__addBtnText {
    border-top: 9px solid #000;
    background-color: #777;
    height: 100%;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.5rem;
    text-transform: uppercase;
}
.Form__flashcardContainer__addBtnTextContainer__addBtnText {
}
.Form__flashcardContainer__numContainer {
    height: 100%;
    width: 2rem;    
    background-color: #777;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Form__flashcardContainer__numContainer__num {
    height: 40%;
    width: 1.5rem;   
    border-radius: 50px;
    background-color: #222;
    border: 2px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.05rem;
    font-weight: bold;
}
.Form__flashcardContainer__elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.Form__flashcardContainer__elements__btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    border-top: 3px solid #fff;
    height: 3rem;

}
.Form__flashcardContainer__elements__btns__btn {
    border: 3px solid #222;
    background-color: #fff;
    font-weight: bold;
    cursor: pointer;
    border-radius: 100%;
}
.Form__flashcardContainer__elements__btns__btn.--edit {
    background-color: rgb(147, 134, 159);
}
.Form__flashcardContainer__elements__btns__btn.--delete {
    background-color: rgb(79, 0, 0);
}
.Form__flashcardContainer__elements__btns__btn__img {
    height: 1rem;
    width: 1rem;
    border: 1.5px solid transparent;
    border-top: 3px solid transparent;
}


.Form__flashcardContainer__deleteContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Form__flashcardContainer__deleteContainer__btn {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.Form__flashcardContainer__deleteContainer__question {
    margin-top: 1rem;
}
.Form__flashcardContainer__deleteContainer__btn.--delete {
    margin-top: 1rem;
    height: 6rem;
    width: 6rem;
    margin: auto;
    background-color: #222;
    color:rgb(141, 0, 0);
    cursor: pointer;
    border: 1px solid #fff;
}
.Form__flashcardContainer__deleteContainer__btn.--back {
    margin-top: auto;
    cursor: pointer;
    border: 1px solid #222;
    width: 6rem;
    height: 2rem;
}


.Form__btn__close {
    margin-top: 1rem;
    cursor: pointer;
    width: 12rem;   
    background-color: transparent;
    background: transparent;
    border-radius: 3px;
    font-size: 1.5rem;
    padding: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #fff;
}

.Form__noDeckSelectedMsg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Form__noDeckSelectedMsg__title {
    padding: 1rem;
    font-size: 2rem;

}
.Form__noDeckSelectedMsg__btn__select {
    cursor: pointer;
    width: 12rem;   
    background-color: transparent;
    background: transparent;
    border-radius: 3px;
    font-size: 1.5rem;
    padding: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #fff;
}
.Form__noDeckSelectedMsg__btn__close {
    margin-top: 1rem;
    cursor: pointer;
    width: 12rem;   
    background-color: transparent;
    background: transparent;
    border-radius: 3px;
    font-size: 1.5rem;
    padding: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #fff;
}