.Form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .Form__exitBtnsContainer {
    background-color: #222;
    color: #000;
    height: 5rem;
    width: 100%;


    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    cursor: pointer;
  }
  .Form__exitBtnsContainer {

  }
  .Form__exitBtnsContainer__btn {
    cursor: pointer;
    width: 16rem;   
    height: 3rem;
    background-color: transparent;
    background: transparent;
    border-radius: 3px;
    font-size: 1.5rem;
    padding: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #fff;
    z-index: 10;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Form__exitBtnsContainer__btn__text {
    margin-left: 1.5rem;

  }
  .Form__exitBtnsContainer__btn__img {
    height: 80%;
    margin-left: 1.5rem;
  }
  

.Form__btn__close {
    margin-top: 1rem;
    cursor: pointer;
    width: 12rem;   
    background-color: transparent;
    background: transparent;
    border-radius: 3px;
    font-size: 1.5rem;
    padding: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #fff;
}