.Form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  /* Component */
  .Form__BackBtn {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

    margin-top: auto;
    margin-bottom: 1rem;
    cursor: pointer;
    border: 1px solid #222;
    width: 8rem;
    height: 3rem;
    transition: transform .25s ease-out;
  }
  .Form__BackBtn__text {
    margin-right: 0.75rem;

  }
  .Form__BackBtn__img {
    width: 1rem;
    height: 1rem;
  }
  .Form__BackBtn:hover {
    transform: scale(1.3);
  }
  /* Component */
  .Form__ConfirmAndDelete {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    padding: 2rem;
  }
  .Form__ConfirmAndDelete__textContainer {
    flex: 0 0 5rem;
    text-align: center;
  }
  .Form__ConfirmAndDelete__textContainer__text {
    font-size: 1.75rem;
    font-weight: bold;
    margin-top: 0.5rem;
  }
  .Form__ConfirmAndDelete__textContainer__text:hover {
    color:rgb(141, 0, 0);
    cursor: grabbing;
  }

  .Form__ConfirmAndDelete__submitInputContainer {
    flex: 0 0 10rem;
    width: 10rem;
    justify-self: center;
    margin: auto;
    text-transform: uppercase;
    text-align: center;

    background-color: #111;
    cursor: pointer;
    transition: transform 0.9s;
    border: 3px solid #777;
    border-radius: 5px;

    position: relative;
    cursor: pointer;
  }
  .Form__ConfirmAndDelete__submitInputContainer:hover {
    cursor: pointer;

    transform: scale(1.3) translateY(.5rem);
    background-color: #000;
    border: 6px solid rgb(141, 0, 0);
    padding: 3px;
    font-weight: bold;
  }
  .Form__ConfirmAndDelete__submitInputContainer__img {
    cursor: pointer;

    position: absolute;
    bottom: 1rem;
    left: calc(50% - 1.6rem);
    height: 30%;
    width: 30%;
    border: none;


    transition: transform 2s ease-in-out;
  }
  .Form__ConfirmAndDelete__submitInputContainer:hover .Form__ConfirmAndDelete__submitInputContainer__img {
    -webkit-filter: invert(11%) sepia(91%) saturate(5391%) hue-rotate(14deg) brightness(87%) contrast(124%);
    filter: invert(11%) sepia(91%) saturate(5391%) hue-rotate(14deg) brightness(87%) contrast(124%);
    transform: scale(1.4);
  }
  .Form__ConfirmAndDelete__submitInputContainer:hover .Form__ConfirmAndDelete__submitInputContainer__submitInput {
    transform: transformY(-3rem);
  }
  .Form__ConfirmAndDelete__submitInputContainer__text {
    color: #B60000;
    position: absolute;
    left: 0; top: 35%; right: 0; bottom: 0;
    letter-spacing: 3px;
    font-size: 1.75rem;
    border-radius: 3px;

  }
  .Form__ConfirmAndDelete__submitInputContainer__submitInput {
    cursor: pointer;

    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    background: transparent;
    transition: transform 1s ease-in-out;
    border: none;

  }
  
  /* Component */
  .Form__exitBtnsContainer {
    background-color: #222;
    color: #000;
    height: 5rem;
    width: 100%;


    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    cursor: pointer;
  }
  .Form__exitBtnsContainer {

  }
  .Form__exitBtnsContainer__btn {
    cursor: pointer;
    width: 16rem;   
    height: 3rem;
    background-color: transparent;
    background: transparent;
    border-radius: 3px;
    font-size: 1.5rem;
    padding: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #fff;
    z-index: 10;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Form__exitBtnsContainer__btn__text {
    margin-left: 1.5rem;

  }
  .Form__exitBtnsContainer__btn__img {
    height: 80%;
    margin-left: 1.5rem;
  }
  

.Form__btn__close {
    margin-top: 1rem;
    cursor: pointer;
    width: 12rem;   
    background-color: transparent;
    background: transparent;
    border-radius: 3px;
    font-size: 1.5rem;
    padding: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #fff;
}