.FormFlashcard {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

align-items: center;}

.FormFlashcard__titleRibbon {
    background-color: #fff;
    color: #000;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.FormFlashcards__title {
    color: #000;
    font-size: 1.25rem;
    letter-spacing: 3px;
}
.FormFlashcard {
    display: flex;
    flex-direction: column;
}
.FormFlashcard__elementsContainer {
    display: flex;
    flex-wrap: wrap;
}
.class {
    
}
.FormFlashcard__elements {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 1.5rem;
}
.Flashcard__turnBtnContainer {
    width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.Flashcard__turnBtn {
    cursor: pointer;
    background: none;
    background-color: #fff;
    border-radius: 5px;
    width: 4rem;
    height: 4rem;
    letter-spacing: 3px;
    padding: 0.25rem;
    color: #000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.Flashcard_form_cell {
    max-height: 60%;
    
}

.Flashcard_form_label {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 0.25rem;
}
.FormFlashcard__inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
}
.FormFlashcard__inputTitle {
    text-align: left;
    width: 8rem;
    padding: 0.25rem;
    font-size: 1rem;
    font-weight: bold;
}

.FormFlashcard__inputTitle.--image {
    margin-top: 1.5rem;
}
.FormFlashcard__textArea {
    height: 30%;
    min-width: 6rem;
}
#changeTurnedImg {
    display: none;
}
#changeUnturnedImg {
    display: none;
}
.FormFlashcard__imageInput {
    cursor: pointer;
    color: #000;
    background-color: #fff;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 8rem;
    height: 4rem;
    font-weight: bold;
    border-radius: 3px;
}
.FormFlashcard__inputs {
    display: flex;
    justify-content: space-between;
}

.FormFlashcard__submitContainer {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.FormFlashcard__close {
    cursor: pointer;
    width: 8rem;   
    background-color: transparent;
    background: transparent;
    border-radius: 3px;
    font-size: 1.5rem;
    padding: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #fff;
}
.FormFlashcard__submit {
    cursor: pointer;
    width: 16rem;   
    background-color: transparent;
    background: transparent;
    border-radius: 3px;
    font-size: 1.5rem;
    padding: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #fff;
}

.FormFlashcard__frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.Flascard__formdeck__frameTitle {
    border: 3px solid #fff;
    width: 40%;
    padding: 0.25rem;
    margin-bottom: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.FormFlashcard__frameImage {
    border: 3px solid #fff;
    border-radius: 5px;
    width: 40%;
    min-height: 40%;
    padding: 0.25rem;
    cursor: pointer;
}
.FormFlashcard__frameNoImage {
    border: 3px solid #fff;
    border-radius: 5px;
    min-height: 40%;
    padding: 0.25rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.FormFlashcard__frameNoImageTitle {
    text-align: center;
    max-width: 75%;
    margin-top: 1rem;
}
.Flashcard__turnBtn.--frame {
    margin-top: 1.5rem;
    letter-spacing: 1px;
    color: #fff;
}