.Modals {
    position: absolute;
    background-color: #000;
    color: #fff;
    left: 0; top: 0; right: 0; bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: auto;
    margin-bottom: auto;
    border: 1px solid #fff;
    border-radius: 5px;
    z-index: 100;

}


.Flashcard__form__frameNoImage {
    height: 30rem;
    width: 15rem;
    border: 6px solid #fff;
    border-radius: 5px;
}

.Flashcard_form_cell {
    height: 30rem;
    width: 15rem; 
}