.Modals {
    position: absolute;
    background-color: #000;
    color: #fff;
    left: 0; top: 0; right: 0; bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: auto;
    margin-bottom: auto;
    border: 18px solid #fff;
    border-radius: 5px;
    z-index: 100;
}
.Modal__containerBtns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 95%;
    width: 100%;
}
.Modal__containerBtns__container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #fff;
    cursor: pointer;
    /* color: #fff; */
    border-radius: 3px;
    margin-top: 0.75rem;
    font-weight: bold;
    font-size: 0.75rem;
    letter-spacing: 1.5px;
    box-shadow: 0px 0px 15px #fff;
    border: none;
    width: 6rem;
    padding: 0.25rem;
}
.Modal__containerBtns__container__btn {
    cursor: pointer;
   background-color: #fff;
   width: 100%;
   opacity: 0.8;
   height: 25%;
   text-transform: capitalize;
   color: #000;
   border-radius: 3px;
}
.Modal__containerBtns__container__btn.--open {
    background-color: #000;
    opacity: .95;
    color: #fff;
    font-size: 0.75rem;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #fff;
    text-decoration-thickness: 3px;
    text-decoration-thickness: double;
    border: 3px solid #222;
}
.Modal__containerBtns__container.--open { 
    background: #fff;
    font-weight: bold;
}

.Flashcards__form__container {
    max-width: 30rem;
    max-height: 15rem;
}

.Flashcards__form__titleRibbon {
    background-color: #fff;
    color: #000;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.Flashcards__form__title {
    color: #000;
    font-size: 1.25rem;
    letter-spacing: 3px;
}
.Flashcard__form {
    display: flex;
    flex-direction: column;
}
.Flashcard__form__elementsContainer {
    display: flex;
}
.class {
    
}
.Flashcard__form__elements {
    width: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 1.5rem;
}
.Flashcard__turnBtnContainer {
    width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.Flashcard__turnBtn {
    cursor: pointer;
    background: none;
    background-color: #fff;
    border-radius: 5px;
    width: 4rem;
    height: 4rem;
    letter-spacing: 3px;
    padding: 0.25rem;
    color: #000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.Flashcard_form_cell {
    
}

.Flashcard_form_label {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 0.25rem;
}
.Flashcard__form__inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
}
.Flashcard__form__inputTitle {
    text-align: left;
    width: 8rem;
    padding: 0.25rem;
    font-size: 1rem;
    font-weight: bold;
}

.Flashcard__form__inputTitle.--image {
    margin-top: 1.5rem;
}
.Flashcard__form__textArea {
    height: 12rem;
    width: 8rem;
}
#changeTurnedImg {
    display: none;
}
#changeUnturnedImg {
    display: none;
}
.Flashcard__form__imageInput {
    cursor: pointer;
    color: #000;
    background-color: #fff;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 8rem;
    height: 4rem;
    font-weight: bold;
    border-radius: 3px;
}
.Flashcard__form__inputs {
    display: flex;
    justify-content: space-between;
}

.Flashcard__form__submitContainer {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.Flashcard__form__close {
    cursor: pointer;
    width: 8rem;   
    background-color: transparent;
    background: transparent;
    border-radius: 3px;
    font-size: 1.5rem;
    padding: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #fff;
}
.Flashcard__form__submit {
    cursor: pointer;
    width: 16rem;   
    background-color: transparent;
    background: transparent;
    border-radius: 3px;
    font-size: 1.5rem;
    padding: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #fff;
}

.Flashcard__form__frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Flascard__form__frameTitle {
    border: 3px solid #fff;
    width: 14rem;
    padding: 0.25rem;
    margin-bottom: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Flashcard__form__frameImage {
    border: 3px solid #fff;
    border-radius: 5px;
    width: 14rem;
    height: 19rem;
    padding: 0.25rem;
    cursor: pointer;
}
.Flashcard__form__frameNoImage {
    border: 3px solid #fff;
    border-radius: 5px;
    width: 14rem;
    height: 19rem;
    padding: 0.25rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Flashcard__form__frameNoImageTitle {
    text-align: center;
    max-width: 75%;
    margin-top: 1rem;
}
.Flashcard__turnBtn.--frame {
    margin-top: 1.5rem;
    letter-spacing: 1px;
    color: #fff;
}