@media only screen and (max-width: 600px) {
    .SymbolDecks__deck {
        max-height: 16rem;
        max-width: 16rem;
        justify-content: safe center;
        align-items: safe center;
        cursor: pointer;
        overflow: auto;
        margin-left: 0.5rem;
    }
    .SymbolDecks__deck__title {
        font-size: 1rem;
        max-width: 100%;
        width: 8rem;
        height: 3rem;
        overflow: auto;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: .15rem;
        margin: 0.5rem;
        font-weight: bold;
    }
    .SymbolDecks__deck:hover {
        transform: scale(1);
        margin: inherit;
        margin-left: 0.5rem;
    }
    .SymbolDecks__deck:hover .SymbolDecks__deck__title {
        text-overflow: initial;
        white-space: unset;
    }
    .SymbolDecks__deck__img {
        height: 7rem;
        width: 7rem;
    }
    .SymbolDecks__openDeckBtn {
        width: 7rem;
    }
    .Deck {
        padding: 0.75rem;
    }
    .Deck__instance {
        margin-top: 1rem;
        flex: 1 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 0;
        flex-wrap: nowrap;
    }
    .Deck__titleContainer {
        display: flex;
        border-radius: 5px;
        border: 3px solid #000;
        padding: 0.5rem;
        flex: 1;
        max-height: 4rem;
    }
    .Deck__titleContainer__titleContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        flex-wrap: wrap;
    }
    .Deck__titleContainer__title {
        padding-left: 0.25rem;
        font-size: 1rem;
        font-weight: normal;
        max-width: 100%;
    }
    .Deck__titleContainer__metaContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .Deck__titleContainer__metaContainer__metaTitle {
        font-weight: bold;
        font-size: 1.25rem;
    }
    .Deck__titleContainer__metaContainer__metaIcon {
        max-width: 1.75rem;
        max-height: 1.75rem;
        margin-left: 0.5rem;
    }
    
}