.Header {
    height: 5rem;
    min-height: 5rem;
    background-color: #000;
    color: #fff;
    

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .75rem;
}
.Header__title {
    height: 100%;
    min-height: 100%;
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    background-color: transparent;
    display: flex;
    justify-content: safe center;
    align-items: safe flex-start;
    /* box-shadow: inset -1.5rem -.5rem 3px 1px #fff; */
    padding-top: .5rem;
    /* padding-right: 1.75rem; */
    border-radius: 3px;
}

.Header__title__icon {
    margin-right: .25rem;
    margin-top: -.25rem;
    height: 2rem;
    width: 2rem;
    max-height: 2rem;
    max-width: 2rem;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}
.Header__title__icon:hover {
    cursor: move;
    box-shadow: inset 0 0 12px 5px #000;
}
.Header__account {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-right: 1rem;

}
.Header__account__btnsContainer {
    display: flex;
}
.Header__account__btn {
    transition: transform .15s ease-in;
    cursor: pointer;

    border: 1px solid #fff;
    color: #000;
    border-radius: 5px;
    background-color: #fff;
    width: 5rem;
    padding: .25rem;
    margin: .25rem;
    font-size: 1rem;
}

.Header__account__btn:hover {
    transform: scale(1.25);
    box-shadow: 0 0 30px 5px #fff;
}

.Header__loggedStatus {
    height: 100%;
    padding: 0.5rem;
    margin-right: auto;

    display: flex;
    flex-direction: column;
}

.Header__loggedStatus__title {
    margin-top: .25rem;
}

.Header__loggedStatus__displayName {
    margin: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 4.5rem;
    width: 100%;
    font-weight: bold;
}