.Header {
    height: 5rem;
    min-height: 5rem;
    background-color: #000;
    color: #fff;
    

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .75rem;
}

.Header__title {
    font-size: 1.75rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}
.Header__account {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.Header__account__btn {
    transition: transform .15s ease-in;
    cursor: pointer;

    border: 1px solid #fff;
    color: #000;
    border-radius: 5px;
    background-color: #fff;
    width: 5rem;
    padding: .25rem;
    margin: .25rem;
    font-size: 1rem;
}

.Header__account__btn:hover {
    transform: scale(1.25);
    box-shadow: 0 0 30px 5px #fff;
}
