.Header__title {
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: safe center;
    align-items: safe center;
    font-size: 2.5rem;
    margin-right: 2rem;
}
.Header__title__text {
    letter-spacing: 5px;

}
.Header__account {
}

.Header__title__icon {
    margin-right: 2rem;
    height: 4rem;
    width: 4rem;
    max-height: 4rem;
    max-width: 4rem;

    box-shadow: 0 0 30px 5px #000;
    border-radius: 100%;
    padding: .5rem;
}

@media only screen and (max-width: 900px) {
    .Header__title {
        margin-right: .25rem;
    }
    .Header__title__text{
        letter-spacing: 2px;
        font-size: 2rem;
    }
    .Header__title__icon {
        margin-right: 1.5rem;
    }
}
@media only screen and (max-width: 600px) {
    .Header__title {
        font-size: 1.75rem;
        height: 100%;
        padding-bottom: .5rem;
        display: flex;
        /* flex-direction: row-reverse; */
        align-items: flex-start;
    }
    .Header__title__text {
        letter-spacing: 1.5px;
    }
    .Header__account {
        justify-content: flex-start;
    }
    
    .Header__title__icon {
        margin-top: -.25rem;
        margin-left: .25rem;
        height: 2.5rem;
        width: 2.5rem;
        max-height: 2.5rem;
        max-width: 2.5rem;
    }
  }

  @media only screen and (max-width: 325px) {
    .Header__title {
        font-size: 1.25rem;
        letter-spacing: .5px;
    } 
    .Header__title__icon {
        margin-left: .25rem;
        height: 1.75rem;
        width: 1.75rem;
        max-height: 1.75rem;
        max-width: 1.75rem;
    }
  }
