.Register {
    width: 90%;
    height: 90%;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333;
    border-radius: 5px;
}
.Register__topbar {
    min-height: 2rem;
    width: 100%;
    margin-bottom: auto;
    text-align: center;
}
.Register__topbar__title {
    padding: 0.5rem;
    font-size: 1.5rem;
    letter-spacing: 1px;
}
.Register__inputs {
    flex: 1;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.Register__inputs__email {
    width: 100%;
}
.Register__inputs__password {
    width: 100%;
}
.Register__inputs__label {

}
.Register__exit {

}
.Register__exit__cancel {

}
.Register__exit__submit {

}