@import './reset.css';
@import './Flashcards/Flashcards.css';
@import './Modals/Modals.css';

* {
    box-sizing: border-box;
}

.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#display-image{
    width: 400px;
    height: 225px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
  }
.Header {
    height: 3rem;
    width: 100%;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
}

.Main {
    flex: 1;
    padding: 1rem;
    display: flex;
    position: relative;
}
.Centerstage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 4;
}
.Aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #000;
}



.Footer {
    align-self: flex-end;
    margin-top: auto;
    background-color: rgb(6, 1, 27);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.5rem;
    letter-spacing: 3px;
    font-weight: bold;
    text-transform: uppercase;
    height: 1.25rem;
    width: 100%;
}
