@import './reset.css';
@import './Flashcards/Flashcards.css';
@import './Modals/Modals.css';
@import './Decks/Decks.css';
@import './Modals/Form.css';
@import './Modals/Form__manageFlashcard.css';
@import './Modals/AddDeck/AddDeck.css';
@import './Modals//EditDeck/EditDeck.css';
@import './Modals/DeleteDeck/DeleteDeck.css';

* {
    box-sizing: border-box;
}


::-webkit-scrollbar {
    width: 3vw;
  }

  ::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: rgb(12, 12, 12);
    border: 1px solid #777;
    border-color: 2px solid #fff;
    border-radius: 30px;
  }

  ::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background-color: rgb(12, 12, 12);
    border-color: 2px solid #fff;
    border-radius: 30px;
  }

  ::-webkit-scrollbar-track {
    background-color: rgb(92, 92, 92);
    border-color: 2px solid #fff;
    border-radius: 30px;
  }

  ::-webkit-scrollbar-track:hover {
    background-color: rgb(101, 101, 101);
    border-color: 2px solid #fff;
    border-radius: 30px;
  }
  
.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#display-image{
    width: 400px;
    height: 225px;
    border: 1px solid black;
    background-position: center;
    background-size: cover; 
  }
.Header {
    height: 3rem;
    width: 100%;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
}

.Main {
    flex: 1;
    display: flex;
    position: relative;
    overflow-y: hidden;
}
.Centerstage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 7;
    position: relative;
}
.Aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #000;
}



.Footer {
  display: flex;
  max-height: 3rem;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin-top: auto;
  background-color: rgb(6, 1, 27);
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 0.5rem;
  letter-spacing: 3px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
}
.Footer__authorContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.Footer__attribs {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  flex-wrap: wrap;
  overflow-x: auto;
  overflow-y: hidden;

}
.Footer a {
  font-size: 7px;
  font-weight: lighter;
  padding: 0.25rem;
  width: fit-content
}
.Footer__author {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;;
}
