@import './reset.css';
@import './Header/Header.css';
@import './Flashcards/Flashcards.css';
@import './Decks/Decks.css';
@import './Modals/Modals.css';
@import './Modals/ModalBtns/AddDeckBtn.css';
@import './Modals/ModalBtns/ModalBtns.css';
@import './Modals/FormDeck.css';
@import './Modals/FormDeckTopbar.css';
@import './Modals/FormFlashcard.css';
@import './Modals/AddDeck/AddDeck.css';
@import './Modals//EditDeck/EditDeck.css';
@import './Modals/DeleteDeck/DeleteDeck.css';
@import './Footer/Footer.css';

*, :hover, :after {
    box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  html, body {
    font-size: 8px;
  }
}


::-webkit-scrollbar {
    width: 3vw;
  }

  ::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: rgb(12, 12, 12);
    border: 1px solid #777;
    border-color: 2px solid #fff;
    border-radius: 30px;
  }

  ::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background-color: rgb(12, 12, 12);
    border-color: 2px solid #fff;
    border-radius: 30px;
  }

  ::-webkit-scrollbar-track {
    background-color: rgb(92, 92, 92);
    border-color: 2px solid #fff;
    border-radius: 30px;
  }

  ::-webkit-scrollbar-track:hover {
    background-color: rgb(101, 101, 101);
    border-color: 2px solid #fff;
    border-radius: 30px;
  }

.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
  
}
.WelcomeShade {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  height: 100%;
  width: 100%;
  background-color: #000;
  color: #fff;
  transition: 0.25s ease-in-out;
  transition-duration: 1s;
}
.WelcomeShade.--hidden {
  color: #000;
  height: 0;
  z-index: -1;
}

.WelcomeShade__title {
  position: absolute;
  font-size: 7rem;
  margin-top: -7.5rem;
  transition: 1s ease-in-out;
}
.WelcomeShade__title.--hidden {
  opacity: 0;
  height: 0;
  font-size: 140rem;
}
.WelcomeShade__subtitle {
  position: absolute;
  font-size: 1.25rem;
}
/* .WelcomeShade__subtitle.--hidden {
  opacity: 0;
  width: 0;
} */

/* #display-image{
    width: 400px;
    height: 225px;
    border: 1px solid black;
    background-position: center;
    background-size: cover; 
  } */


.Main {
    flex: 1;
    display: flex;
    position: relative;
    max-height: calc(100vh - 6rem);
}
.Centerstage {
    position: relative;
}
.WelcomeMessage {

}
.WelcomeMessage__title {
}

.WelcomeMessage__subtitle {
}
.WelcomeMessage__btnContainer {
}
.WelcomeMessage__btnContainer__btn {
}
.WelcomeMessage__list {

}
.WelcomeMessage__list__item {

}
.Aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #000;
}

