.AddDeckBtn {
    transition: transform .275s ease-in;
    cursor: pointer;
    position: relative;
    width: 14rem;
    height: 16rem;
    margin-right: 4rem;
    margin-left: 2rem;
    margin-top: 2rem;

    display: flex;
    justify-content: right;
    align-items: center;
    border-right: 24px solid #000;
    border-bottom: 18px solid #000;
    border-radius: 5px;
    opacity: 0.8;

}
.AddDeckBtn:hover {
    background-color: #777;
    opacity: .95;
    border-radius: 5px;
    transform: scale(1.15) translate(1.25rem, 1.25rem);
    box-shadow: 0 0 15px 30px #fff;
    
}
.AddDeckBtn__btn {
    cursor: pointer;
    position: absolute;
    bottom: 2rem;
    bottom: 0;
    background-color: #000;
    color: #fff;
    height: 2rem;
    max-width: 100%;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 0.15rem;
    font-size: 1.25rem;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;

    white-space: nowrap;

}
.AddDeckBtn__imgPlus {
    cursor: pointer;
    position: absolute;
    width: 70%;
    height: 60%;
    bottom: 3rem;
    border: 24px solid #000;
    border-radius: 100%;
    transform: skew(-0.06turn, -3deg);
}

.AddDeckBtn__imgCards {
    cursor: pointer;
    position: absolute;
    width: 5rem;
    height: 5rem;
}