.ModalBtns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 95%;

    min-height: 0;
    max-width: 9rem;
    min-width: 10rem;
    height: 100%;
    background-color: #000;
}


@media only screen and (max-width: 600px) {
    .ModalBtns {
        max-width: 4rem;
        min-width: 0;
    }
    .AddDeckBtn {
        margin: 2.5rem 0 0 0;
        height: 10rem;
        width: 10rem;
    }
    .AddDeckBtn__btn {
        font-size: .75rem;
        width: 8rem;
    }
  }
  
