.AddDeckBtn {
    cursor: pointer;
    position: relative;
    width: 14rem;
    height: 16rem;
    margin-right: 4rem;
}
.AddDeckBtn:hover {
    background-color: #777;
    border-radius: 5px;
    transform: scale(1.25);
    margin-top: 1rem;
    margin-left: 2rem;
    margin-bottom: 3rem;
    margin-right: 3rem;
    padding: 2rem;
}
.AddDeckBtn__btn {
    cursor: pointer;
    position: absolute;
    bottom: 2rem;
    bottom: 0;
    background-color: #000;
    color: #fff;
    height: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 0.15rem;
    font-size: 1.25rem;
    border-radius: 5px;
}
.AddDeckBtn__imgPlus {
    cursor: pointer;
    position: absolute;
    width: 70%;
    height: 60%;
    bottom: 3rem;
    border: 12px solid #000;
    border-radius: 100%;
}

.AddDeckBtn__imgCards {
    cursor: pointer;
    position: absolute;
    top: -1rem;
    right: -2.5%;
    width: 60%;
    height: 60%;
}