.WelcomeShade {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  height: 100%;
  width: 100%;
  background-color: #777;
  color: #fff;
  transition: 0.25s ease-in-out;
  transition-duration: 1s;
  
}
.WelcomeShade.--hidden {
  color: #000;
  height: 0;
  z-index: -1;
}

.WelcomeShade__title {
  position: absolute;
  font-size: 7rem;
  margin-top: -7.5rem;
  transition: 1s ease-in-out;
}
.WelcomeShade__title.--hidden {
  opacity: 0;
  height: 0;
  font-size: 140rem;
}
.WelcomeShade__subtitle {
  position: absolute;
  font-size: 1.5rem;
}
/* .WelcomeShade__subtitle.--hidden {
  opacity: 0;
  width: 0;
} */

/* #display-image{
    width: 400px;
    height: 225px;
    border: 1px solid black;
    background-position: center;
    background-size: cover; 
  } */





.WelcomeMessage {
    width: calc(100% - 5rem);
    margin: auto;
    padding-top: 2rem;
    max-width: 60rem;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  .WelcomeMessage__title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
  
  .WelcomeMessage__subtitle {
    margin-top: 1.5rem;
    font-size: 1.5rem;
  }
  .WelcomeMessage__btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .WelcomeMessage__btnContainer__btn {
    margin: 1.5rem;
    color: #fff;
    padding: 2.5rem;
    font-size: 2.5rem;
    background-color: #000;
    border-radius: 5px;
    cursor: pointer;
  }
  .WelcomeMessage__list {
    margin-top: 1.5rem;
  
  }
  .WelcomeMessage__list__item {
    list-style-type: space-counter;
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }